/* TITLE STYLES */
.titleBox{
  margin: auto;
  width: 50%;
}
.titleBox h1{
  font-size: 4em;
  color: blue;
  text-align: center;
  margin-bottom: .2em;
}
.titleBox img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.titleBox p{
  text-align: center;
}
.titleBox h2{
  font-size: 1.7em;
  color: black;
  text-align: center;
}
/* NAVIGATION BAR*/
.navigationBar{
  width : 75%;
  margin: auto;
}
.navigationBar th{
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 24%;
  float: left;
  border: 2px solid black;
}
.navigationBar a{
  text-decoration: none;
}
/*PARAGRAPH STYLES*/
.aboutMe{
  width: 80%;
  margin: auto;
}
.aboutMe p{
  font-size: 1.2em;
}
.blogPost{
  width: 80%;
  margin: auto;
}
.blogPost p{
  font-size: 1.2em;
}
