/* TITLE STYLES */
.titleBox{
  margin: auto;
  width: 50%;
}
.titleBox h1{
  font-size: 4em;
  color: blue;
  text-align: center;
  margin-bottom: .2em;
  text-shadow: 2px 2px 1px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.titleBox img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.titleBox p{
  text-align: center;
}
.titleBox h2{
  font-size: 1.7em;
  color: black;
  text-align: center;
}
/* NAVIGATION BAR*/
.navigationBar{
  width : 75%;
  margin: auto;
}
.navigationBar th{
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 24%;
  float: left;
  border: 2px solid black;
}
.navigationBar a{
  text-decoration: none;
}
/*PARAGRAPH STYLES*/
.aboutMe{
  width: 80%;
  margin: auto;
}
.aboutMe p{
  font-size: 1.2em;
}


.blogPost{
  width: 80%;
  margin: auto;
}
.blogPost p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
}
.blogImgRight{
  float: right;
}
.blogCapRight p{
display: block;
float: right;
}
.blogImgLeft{
  float: left;
}

.contactMe{
  width: 80%;
  margin: auto;
}

.smallImg{
  width: 250px;
}
.medImg{
  width: 25%
}
.lrgImg{
  width: 35%
}
